extends layout

block content
    h1 Register
    form(method='POST', action='/users/register')
        #form-group
            lable Name
            input.form-control(name='name', type='text')
        #form-group
            lable Email
            input.form-control(name='email', type='text')
        #form-group
            lable Username
            input.form-control(name='username', type='text')
        #form-group
            lable Password
            input.form-control(name='password', type='password')
        #form-group
            lable Confirm
            input.form-control(name='password2', type='password')
        br
        input.btn.btn-primary(type='submit', value='Submit')